
<%= render "shared/account_profile",moji: "アカウント" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <div><%= f.label :email %></div>
    <div><%= f.email_field :email, placeholder: "メールアドレスを入力", autocomplete: "email" %></div>
    <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @user, attribute: :email %></div>
  </div>
  <!--このコードはメルアド変更時のリンク踏み確認で、今回は関係ないみたい？-->
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="field">
    <div><%= f.label :password, "変更用パスワード" %> <span>(※変更する場合のみ)</span></div>
    <div><%= f.password_field :password, placeholder: "変更用パスワードを入力", autocomplete: "new-password" %></div>
    <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @user, attribute: :password %></div>
  </div>


  <div class="field">
    <div><%= f.label :password_confirmation, "確認用パスワード" %> <span>(※変更する場合のみ)</span><br />
    <div><%= f.password_field :password_confirmation, placeholder: "確認用パスワードを入力", autocomplete: "new-password" %>
    <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @user, attribute: :password_confirmation %></div>
  </div>


  <div class="field">
    <div><%= f.label :current_password %></div>
    <div><%= f.password_field :current_password, placeholder: "現在のパスワードを入力", autocomplete: "current-password" %></div>
    <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @user, attribute: :current_password %></div>
  </div>


  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>

<%= link_to "キャンセル", :back %>

<%
=begin %>
・アカウントを削除する項目。今回は表示しない。
<h3>Cancel my account</h3>
<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

・エラーをまとめて出すコード。使用しない。
  <%= render "devise/shared/error_messages", resource: resource %>
<%
=end %>
