<h2>再予約する</h2>

<!-- 施設画像を表示する-->
<%= render "shared/room_image_attached", size: 300, obj: @reservation.room %>

<table class="table">
  <tr>
    <th>施設名</th>
    <td><%= @reservation.room.name %></td>
  </tr>
  <tr>
    <th>料金</th>
    <td>¥<%= number_with_delimiter(@reservation.room.price)%>~</td>
  </tr>
  <tr>
    <th>紹介文</th>
    <td><%= @reservation.room.content%></td>
  </tr>
</table>

<h3>再予約フォーム</h3>
<%= form_with model: @reservation do |f| %>
  <div class="row">
    <div class="col-4">
      <div><%= f.label :check_in ,"チェックイン" %></div>
      <div><%= f.date_field :check_in, class:"calender-area" %></div>
      <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @reservation, attribute: :check_in %></div>
    </div>
    <div class="col-4 ">
      <div><%= f.label :check_out ,"チェックアウト" %></div>
      <div><%= f.date_field :check_out, class:"calender-area" %></div>
      <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @reservation, attribute: :check_out %></div>
    </div>
    <div class="col-4 ">
      <div><%= f.label :number_of_people, "人数" %></div>
      <div><%= f.text_field :number_of_people, placeholder: "人数を入力" %></div>
      <div class="new-edit-error"><%= render "devise/shared/error_messages", resource: @reservation, attribute: :number_of_people %></div>
    </div>
  </div>
  <!--create時にroom_idは指定しているため、editではhiddenは不要となる -->
  <div>
    <p><%= f.submit "再予約する", class: "btn btn-primary", style:"color: white;"%></p>
  </div>
<% end %>
