<div class="container">
  <div class="mx-auto w-100 w-md-75 bg-white py-4">
    <div class="mx-auto" style="width: 65%;">
        <h2 class="text-center">ログイン</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field row mb-3">
            <div class="col-12"><%= f.label :email %></div>
            <div class="col-12"><%= f.email_field :email, placeholder: "メールアドレスを入力", autofocus: true, autocomplete: "email", class: "w-100" %></div>
          </div>
       
          <div class="field row mb-3">
            <div class="col-12"><%= f.label :password %></div>
            <div class="col-12"><%= f.password_field :password, placeholder: "パスワードを入力", autocomplete: "current-password", class: "w-100" %></div>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-secondary w-100 py-2 mb-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



<%
=begin %>
以下、使用しないため、ビューファイル上から削除したコード(remember me?)
Userモデルの該当モジュールはそのまま残してある

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<%
=end %>
